In [35]:
import pandas as pd
import numpy as np
from connection import dbsession
from models import Products, Categories
products=pd.read_csv("products.csv")
# dtype={"price": np.float64}

In [36]:
float(products["price"][0].replace(",",""))

900000.0

In [37]:
len(products)

182

In [38]:
for i,item in products.iterrows():
    print(i, item["name"],item["price"])

0 مونوپاد1288 900,000
1 شارژر فندكيiohone 500,000
2 شارژر فندكي ldnio 650,000
3 فندكي آيفون 3 600,000
4 گارد 54,000,000
5 رابط گوشي به گوشي 100,000
6 شارژر كارتني S4 650,000
7 گارد سيليكوني 55,900,000
8 كابل پاور sisah 120,000
9 گلس سراميكي 177,600,000
10 سيم كارت 35,200,000
11 charger emy myشارژر 350,000
12 FM PLAYER2 840,000
13 تبديل otg-note 240,000
14 كابل 5پين usb 1,620,000
15 گلس تبلت 53,200,000
16 كيف تبلت 22,750,000
17 كيف زيپ دار 100,000
18 تبديل اندرويد آيفون 480,000
19 ريموت منوپاد 120,000
20 رم ريدر دو كاره 600,000
21 كابل hdmitc70 500,000
22 كله شارژر اصلي ipad 400,000
23 rock c 350,000
24 گارد my case 1,200,000
25 گارد سيليكوني ايفون 32,000,000
26 محافظ لنز 7 900,000
27 محافظ لنز 6 180,000
28 usb led 250,000
29 كاور سيليكوني 400,000
30 استاپ شارژ 240,000
31 mp3_mp4 4G player 800,000
32 نگهدارنده كابل 360,000
33 گلس فول 156,000,000
34 هندزفري بلوتوث جبرا mini u8 2,400,000
35 تبديل برق آيفون 3,000,000
36 هندزفري  LEVEL U PRO 8,400,000
37 كله شارژر اصلي S10پكدار 3,200,000
38 شارژر S9 ORG يكسال گارانتي 800,000
39 تبديل سه به دو seven 2,100,000
40 كابل S10 FAST 1,200,000
41 كابل  +NOTE10 1,200,000
42 اعتبار 2,640,609,960
43 پاوربانك HOCO J49/10000 6,400,000
44 كله شارژر پكدار IPH 7 1,200,000
45 كابل پاوربانك TYPE C 1,080,000
46 هلدر وايرلس S5 1,200,000
47 تبديل TYPE C الدرام 250,000
48 رم 64 APACER 3,600,000
49 تبلت LENOVO TAB M7-4G-Ram2-32G مشكي 52,000,000
50 ايرپاد PRO 4 7,000,000
51 گارد پشت مات فرم دار 39,500,000
52 كابل HOCO X37 MICRO 600,000
53 رينگلايت سلفي 800,000
54 هندزفري IPH 7piblue 3,300,000
55 كله شارژر DUDAO A8UK IPH 2,200,000
56 كابل HOCO X1 3 MICRO 2,400,000
57 كله شارژر آيفون 11 4,200,000
58 m6 64G 1,600,000
59 هدفون بلوتوث 450BT JBL 1,800,000
60 تبديل برق 2به 2 1,190,000
61 پاور بانك 1000 maxko 8,400,000
62 كاور سيليكوني ايرپاد پرو 1,800,000
63 بند فلزي apple watch milanese 2,400,000
64 بند چرم apple watch 2,500,000
65 كله سركارتني s10 2,800,000
66 سركارتني otg s10 700,000
67 محافظ كابل 4in 1 750,000
68 محافظ كابل عروسكي 720,000
69 كابل پاور فلت TYPE C 2,200,000
70 گلس امنيتي 22,400,000
71 تبديل سيم كارت پلاستيكي 150,000
72 گوشي سامسونگ A32 128G 65,800,000
73 گلس لنز دوربين اندرويدي 3,000,000
74 كابل aux فنري 800,000
75 گارد بتمني 900,000
76 كابل s7 4,400,000
77 كابل maxko 060 metal 2,100,000
78 كابل nafumi m9 -tpc 4,500,000
79 گارد شفاف لنزدار IP13 2,250,000
80 گوشي ايفون ابي با گارانتي IPHONE 13 PRO MAX 256G 432,000,000
81 گلس سوپر فول توري دار 13promax 800,000
82 گوشي ايفون 13Promax 256g مشكي 479,000,000
83 پاپ سوكت انگشتي مگنتي 3,000,000
84 كابل آيفون ALIARMI 3,200,000
85 كابل آيفون BOROF BX 19 1,500,000
86 هولدر مگنتي سكه اي 3,200,000
87 كابل پك دار IPH 12 9,200,000
88 گاردو گلس اپل واچ 2,700,000
89 بند سيليكوني اپل واچ 4,800,000
90 بند نايك اپل واچ 1,100,000
91 اسپيكر چمداني 1149A 10,500,000
92 سه پايه چيني 1,800,000
93 سه پايه گوشي فلزي 2,500,000
94 گارد شفاف آيفون دور رنگي 16,200,000
95 گارد DEZOE 12,800,000
96 اسپيكر L26 8,400,000
97 شارژر فندكي Remix 1,800,000
98 كابل Hoco x29 800,000
99 كابل پوست ماري micro 1,600,000
100 كله شارژر DUDAO-A2 3,200,000
101 كله شارژر DUDAO-A1 MAX 2,400,000
102 كابل DUDAO L10 TYPEC پاوربانكي 600,000
103 كابل DUDAO L10 IPH پاوربانكي 1,200,000
104 كابل DUDAO L10 Micro پاوربانكي 800,000
105 هنذزفري j5 250,000
106 كيف بتمني ايرپاد 7,800,000
107 شارژر پكدار S10 1,400,000
108 هندزفري PAPADA PA1 31 2,200,000
109 هندزفري PAPADA PA1 30 TYOE C 1,100,000
110 هندزفري بلوتوث B669 4,200,000
111 كابل REALME TYPE C 2,400,000
112 هلدر CXP 008 1,710,000
113 هندزفري بلوتوث گردني LENOVO-HE05 2,850,000
114 هلدر DUDAO F3 800,000
115 فلش S20 64G KING 1,800,000
116 فلش KS234 32G king 1,400,000
117 فلش KS234 16G king 1,200,000
118 فلش KS201 32G AROMA 2,800,000
119 فلش KS201 16G AROMA 1,200,000
120 مموري 16G Toshiba 2,240,000
121 OTG REMAX-Micro فلزي 1,760,000
122 OTG TYPE C REMAX فلزي 1,520,000
123 گلس لنز دوربين ايفون 600,000
124 محافظ لنز آهني 3,916,000
125 گلس اپل واچ 42m 260,000
126 گلس اپل واچ 38m 260,000
127 پاپ سوكت انگشتي 300,000
128 هندزفري akg سامسونگ 6,400,000
129 محافظ لنز رينگي ايفون 16,200,000
130 كابل lapramol lp-b13 آيفون 10,500,000
131 كابل lapramol lp-b19 آبفون 7,500,000
132 كيس كربني ايرپاد 3 1,800,000
133 كابل lapramol lp-b50 اندرويد 3,000,000
134 پاوربانك HOCO J38/10000 3,500,000
135 پاوربانك HOCO J58/10000 3,500,000
136 پاور بانك dudao 10000 7,000,000
137 تبديل هالدرون 3به 2 1,200,000
138 گلس نانو اپل واچ 41m 1,200,000
139 هندزفري بلوتوث گردني UFLEX 2,850,000
140 اسپيكر A1 12,500,000
141 پاوربانك BOROFONE BT23 10000 3,500,000
142 رينگ لايت LED 2,550,000
143 كيبرد اي پد 1,200,000
144 رينگ لايت AN26 3,580,000
145 گارد تبلت 1,900,000
146 هولدر SH-3100 800,000
147 كلگي ORAIMO E81 3,000,000
148 سه تار 4,500,000
149 گلس پرايوسي weva 2,700,000
150 گارد اكليلي جديد 4,620,000
151 گارد اسكوييد گيم 4,400,000
152 كاور گودزيلا 1,200,000
153 كاور سهند 1,200,000
154 گارد لوكس paika 11,760,000
155 نوكيا 110 12,000,000
156 نوكيا 105 4,000,000
157 اسپيكر TG 156 3,780,000
158 شارژر تبلت 840,000
159 كيف پاور بانك چرم 500,000
160 اسپيكر DUDAO Y4 4,000,000
161 كيف هارد اكسترنال 700,000
162 كيف هارد تسكو 700,000
163 اسپيكر بلوتوث TG 607 1,890,000
164 اسپيكر بلوتوث TG 528 1,890,000
165 كله شارژ اورجينال 12POROMAX 20W 39,200,000
166 ايرپاد PRO غير اصل 9,000,000
167 پاور بانك BOROFONE BT24 MIC 10000 3,500,000
168 هندزفري بلوتوث گردني papada A2 3,000,000
169 كيف ايرپاد طرح دار 500,000
170 شارژر پك پلاستيكي تايپ C 2,000,000
171 شارژر پك پلاستيكي اندرويد 600,000
172 گلس S21 PLUS 200,000
173 گلس S21 ULTRA 300,000
174 گوشي سامسونگ A12-128G/RAM4سفيد 42,700,000
175 گوشي آيفون IPHONE 13PRO MAX 256G آبي 468,000,000
176 گوشي آيفون Iphone 13/128Gآبي 321,000,000
177 گوشي آيفون Iphone 11 128G مشكي 226,333,333
178 گوشي شيائومي Xiaomi Mi 11lite/128G/R8 72,900,000
179 گوشي شيائومي Xiaomi X3 PRO/128G/R8برنز 68,900,000
180 گوشي سامسونگ A53/256G/R8مشكي 235,800,000
181 nan 6,219,259,293

In [39]:
# products["price1"] = float(products["price"].replace(",",""))
products["price"] = products.apply(lambda row: float(row["price"].replace(",","")),axis=1)

In [40]:
products.dtypes

name           object
price         float64
Unnamed: 2    float64
dtype: object

In [41]:

del products["Unnamed: 2"]
products

                                       name         price
0                               مونوپاد1288  9.000000e+05
1                         شارژر فندكيiohone  5.000000e+05
2                         شارژر فندكي ldnio  6.500000e+05
3                             فندكي آيفون 3  6.000000e+05
4                                      گارد  5.400000e+07
..                                      ...           ...
177          گوشي آيفون Iphone 11 128G مشكي  2.263333e+08
178   گوشي شيائومي Xiaomi Mi 11lite/128G/R8  7.290000e+07
179  گوشي شيائومي Xiaomi X3 PRO/128G/R8برنز  6.890000e+07
180            گوشي سامسونگ A53/256G/R8مشكي  2.358000e+08
181                                     NaN  6.219259e+09

[182 rows x 2 columns]

In [42]:
# myexcel = pd.read_excel("abc.xlsx")
# myexcel.to_csv("abc.csv")

In [43]:
# categories = []

In [44]:
products.head()

                name       price
0        مونوپاد1288    900000.0
1  شارژر فندكيiohone    500000.0
2  شارژر فندكي ldnio    650000.0
3      فندكي آيفون 3    600000.0
4               گارد  54000000.0

In [45]:
products["price"].astype(float)

0      9.000000e+05
1      5.000000e+05
2      6.500000e+05
3      6.000000e+05
4      5.400000e+07
           ...
177    2.263333e+08
178    7.290000e+07
179    6.890000e+07
180    2.358000e+08
181    6.219259e+09
Name: price, Length: 182, dtype: float64

In [46]:
products.dtypes

name      object
price    float64
dtype: object

In [47]:
type(products["price"][0])

numpy.float64

In [48]:
dbsession.bulk_insert_mappings(Products, products.to_dict(orient="records"))
dbsession.commit()

In [49]:
categories = {"id":[1,2,3],"name":["Mobile Phones","Accessories","Monopods"]}
categories = pd.DataFrame(categories)
categories.to_sql("categories",dbsession.connection(),if_exists="replace",index=False)
dbsession.commit()

In [62]:
nproduct = [Products(name="samsung A8",cat_id=1),Products(name="samsung S20",cat_id=1)]
dbsession.add_all(nproduct)
dbsession.commit()

In [63]:
c = dbsession.query(Categories).first()
# pd.read_sql(c.statement, dbsession.connection())

In [66]:
for i in c.products:
    print(i.name)

samsung a8
samsung A8
samsung S20