In [1]:
import pandas as pd
from connection import dbsession
from models import Products
products=pd.read_csv("products.csv")

In [2]:
products

                                       name          price  Unnamed: 2
0                               مونوپاد1288        900,000         NaN
1                         شارژر فندكيiohone        500,000         NaN
2                         شارژر فندكي ldnio        650,000         NaN
3                             فندكي آيفون 3        600,000         NaN
4                                      گارد     54,000,000         NaN
..                                      ...            ...         ...
177          گوشي آيفون Iphone 11 128G مشكي    226,333,333         NaN
178   گوشي شيائومي Xiaomi Mi 11lite/128G/R8     72,900,000         NaN
179  گوشي شيائومي Xiaomi X3 PRO/128G/R8برنز     68,900,000         NaN
180            گوشي سامسونگ A53/256G/R8مشكي    235,800,000         NaN
181                                     NaN  6,219,259,293         NaN

[182 rows x 3 columns]

In [3]:
dbsession.bulk_insert_mappings(Products, products.to_dict(orient="records"))
dbsession.commit()