In [40]:
import pandas as pd
from classes.dbHandler import DBHandler

dbh = DBHandler()
dbh.create_all_tables()

prd = pd.read_csv("data/products.csv")

In [41]:
prd.columns

Index(['Unnamed: 0', 'name', 'price'], dtype='object')

In [42]:
prd = prd[["name","price"]]
prd["price"]= prd.apply(lambda row: row.price.replace(",",""),axis=1)
prd.to_csv("data/products.csv")
# prd

In [43]:
from db.connection import Session
from db.models import *

In [44]:
dbsession = Session()

In [45]:
newproduct = Products(name="apple",price=123)
dbsession.add(newproduct)
dbsession.commit()

In [46]:
q = dbsession.query(Products)
pd.read_sql(q.statement, dbsession.connection())

      id cat_id                                    name         price
0      1   None                                   apple  1.230000e+02
1      2   None                                   apple  1.230000e+02
2      3   None                             مونوپاد1288  9.000000e+05
3      4   None                       شارژر فندكيiohone  5.000000e+05
4      5   None                       شارژر فندكي ldnio  6.500000e+05
..   ...    ...                                     ...           ...
180  181   None   گوشي شيائومي Xiaomi Mi 11lite/128G/R8  7.290000e+07
181  182   None  گوشي شيائومي Xiaomi X3 PRO/128G/R8برنز  6.890000e+07
182  183   None            گوشي سامسونگ A53/256G/R8مشكي  2.358000e+08
183  184   None                                    None  6.219259e+09
184  185   None                                   apple  1.230000e+02

[185 rows x 4 columns]

In [47]:
dbh.addProducts(prd)
dbh.dbsession.commit()