In [1]:
import pandas as pd
from connection import dbsession
from models import Categories, Customers, Invoices, Products
customers = pd.read_csv("customers.csv")

In [2]:
customers

                    fname         lname
0                محمد علي       اسمعيلي
1                 اسماعيل        هوشمند
2                    سعيد    نيكوئي يزد
3              خانم كلثوم       خالداري
4           آقاي سيد مهدي    پور علويان
...                   ...           ...
2437   ارين دژ دنا(رشيدي)   09022515460
2438             صفي زاده  091334332100
2439  مهديه ابراهيمي نژاد   09027890702
2440      مجيد زارع عسكري   09134496691
2441          محمد شهبازي   09136677450

[2442 rows x 2 columns]

In [3]:
len(customers)

2442

In [4]:
customers.shape

(2442, 2)

In [5]:
# customers.to_dict(orient="records")

In [6]:
dbsession.bulk_insert_mappings(Customers, customers.to_dict(orient="records"))
dbsession.commit()

In [7]:
# customers.to_sql("customers",dbsession.connection(), if_exists="replace")
# dbsession.commit()

In [8]:
# dbsession.query(Customers).first().fname