In [44]:
from models import Categories, Customers, Invoices, Products
from connection import dbsession
import pandas as pd

dbsession.rollback()
newCategories =[Categories(name="Smart phones"),Categories(name="Headsets"), Categories(name="Battery Chargers")]

newCustomer= Customers(fname="majid", lname="Fallah", mobile="09120000006", email="kianakiazad74@gamil.com", password="1234", ncode=10, address="yazd,razmandegan ...")

# newProducts= [Products(name="iphone", price=22.5), Products(name="samsung", price=15.5)]



dbsession.add_all(newCategories)
dbsession.add(newCustomer)
# dbsession.add_all(newProducts)



# dbsession.commit()

In [45]:
# print("before:",newCustomer.id)
# dbsession.flush()
# print("after:",newCustomer.id)
# dbsession.commit()

In [46]:
# try:
#     dbsession.flush()
# except Exception as e:
#     print(e)
    
#     dbsession.rollback()
#     print("inja....")
# else:
#     dbsession.commit()
#     print("all done")

In [47]:
# dbsession.flush()
customers = dbsession.query(Customers)
# .all()

# for cust in customers:
#     print(cust.fname)
pd.read_sql(customers.statement,dbsession.connection())

Empty DataFrame
Columns: [id, fname, lname, mobile, email, password, ncode, address]
Index: []